@model IEnumerable<NetCore6Mvc.Models.Produto>

<!-- Page header -->
<div class="page-header page-header-default">
    <div class="page-header-content">
        <div class="page-title">
            <h4>Produtos Cards</h4>
        </div>

    </div>

    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="/Home/Index"><i class="icon-home2 position-left"></i> Home</a></li>
            <li class="active">Produtos Cards</li>
        </ul>
    </div>
</div>
<!-- /page header -->

<!-- Rounded thumbs -->
	<div class="row">
		@foreach(var produto in Model){
				<div class="col-lg-3 col-md-6">
					<div class="thumbnail">
						<div class="thumb thumb-rounded thumb-slide">
							<img src="@produto.ImagemMini" alt="">
							<div class="caption">
								<span>
									<a href="List" class="btn bg-success-400 btn-icon btn-xs" data-popup="lightbox"><i class="icon-plus2"></i></a>
									<a href="Card" class="btn bg-success-400 btn-icon btn-xs"><i class="icon-link"></i></a>
								</span>
							</div>
						</div>
							
						<div class="caption text-center">
							<h6 class="text-semibold no-margin">@produto.Nome | @produto.DescricaoCurta<small class="display-block">@produto.DescricaoDetalhada</small></h6>
							<ul class="icons-list mt-15">
								<li>@produto.Valor.ToString("c")</li>
							</ul>
						</div>
					</div>
				</div>
		}
	</div>
<!-- /rounded thumbs-->

